<h1>Products</h1>

<% if @products.any? %>
  <ul>
    # <% @products.united_states.each do |product| %>
    #   <li><%= link_to product.name, product_path(product) %></li>
    # <% end %>
    <% @products.recent_products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
    
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<p><%= link_to "Create new product", new_product_path %></p>