<h1>Products</h1>

<% if @products.any? %>
  <ul>
    <h2>Products</h2>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>
<% if current_user && current_user.admin %>
<p><%= link_to "Create new product", new_product_path %></p>
<% end %>
<p><%= link_to "Go to Homepage", root_path %></p>